version: '3.3'

services:
  # plex media server
  plex:
    image: plexinc/pms-docker:plexpass
    container_name: plex
    volumes:
      - /srv/config/plex:/config
      - /srv/transcode:/transcode
      - /srv/media:/data
    environment:
      - TZ=Europe/London
    network-type: host
    restart: unless-stopped

  # plexpy
  plexpy:
    image: linuxserver/plexpy
    container_name: plexpy
    volumes:
      - /srv/config/plexpy:/config
      - /etc/localtime:/etc/localtime:ro
      - /srv/config/plex/Library/Application Support/Plex Media Server/Logs:/logs:ro
    environment:
      - PUID=1000
      - PGID=1000
    ports:
      - 8081:8181
    restart: unless-stopped

  # ombi
  ombi:
    image: linuxserver/ombi
    container_name: ombi
    volumes:
      - /srv/config/ombi:/config
      - /etc/localtime:/etc/localtime:ro
    environment:
      - PUID=1000
      - PGID=1000
    networks:
      - downloaders
    ports:
      - 8082:3579
    restart: unless-stopped

  # nzbget
  nzbget:
    image: linuxserver/nzbget
    container_name: nzbget
    volumes:
      - /srv/config/nzbget:/config
      - /srv/downloads/complete:/complete
      - /srv/downloads:/downloads
    environment:
      - PUID=1000
      - PGID=1000
    networks:
      - downloaders
    ports:
      - 8083:6789
    restart: unless-stopped

  # sonarr
  sonarr:
    image: linuxserver/sonarr
    container_name: sonarr
    volumes:
      - /srv/config/sonarr:/config
      - /etc/localtime:/etc/localtime:ro
      - /srv/media/tv:/tv
      - /srv/downloads/complete:/complete
    environment:
      - PUID=1000
      - PGID=1000
    networks:
      - downloaders
    ports:
      - 8084:8989
    cpus: 0.5
    restart: unless-stopped

  # radarr
  radarr:
    image: linuxserver/radarr
    container_name: radarr
    volumes:
      - /srv/config/radarr:/config
      - /srv/media/movies:/movies
      - /srv/downloads/complete:/complete
      - /etc/localtime:/etc/localtime:ro
    environment:
      - PUID=1000
      - PGID=1000
    networks:
      - downloaders
    ports:
      - 8085:7878
    cpus: 0.5
    restart: unless-stopped

  portainer:
    image: portainer/portainer
    container_name: portainer
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
      - /srv/config/portainer:/data
    ports:
      - 8080:9000
    restart: unless-stopped

networks:
  downloaders:
